.bg-success{
    background-color: #006400 !important;
}
.bg-body-tertiary{
    background-color: 	#D3D3D3 !important;
}
.nav-link.active{
    background-color: #006400  !important;
}
.bg-dark{
    background-color: 	#C0C0C0 !important;
}
